# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment files
.env
*.env
backend/.env

# Ignore logs
logs/
*.log

# Ignore IDE/editor files
.vscode/
.idea/
.DS_Store

# Ignore node and build output
node_modules/
dist/
dist-ssr/

# Ignore specific files
api_clients/google_places.py
intent_utils.py
/Users/omer/Desktop/ai-stanbul/backend/__pycache__/main.cpython-312.pyc
/backend/api.py

